<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
    <servlet-name>Main Menu</servlet-name>
    <servlet-class>com.excilys.formation.computerdatabase.web.servlet.MainMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main Menu</servlet-name>
    <url-pattern>/mainMenu</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Main Menu Submit</servlet-name>
    <servlet-class>com.excilys.formation.computerdatabase.web.servlet.MainMenuSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main Menu Submit</servlet-name>
    <url-pattern>/mainMenuSubmit</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Companies Menu Submit</servlet-name>
    <servlet-class>com.excilys.formation.computerdatabase.web.servlet.CompaniesMenuSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Companies Menu Submit</servlet-name>
    <url-pattern>/companiesMenuSubmit</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Computers Menu Submit</servlet-name>
    <servlet-class>com.excilys.formation.computerdatabase.web.servlet.ComputersMenuSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Computers Menu Submit</servlet-name>
    <url-pattern>/computersMenuSubmit</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Add Computer</servlet-name>
    <servlet-class>com.excilys.formation.computerdatabase.web.servlet.AddComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add Computer</servlet-name>
    <url-pattern>/addComputer</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>